<div class="container-signup">
  <form action="" class="form-signup">
    <div class="form-signup__field">
      <label for="">Nome:</label>
      <input type="text" class="form-signup__input">
    </div>
    <div class="form-signup__field">
      <label for="">Usuário:</label>
      <input type="text" class="form-signup__input">
    </div>
    <div class="form-signup__field">
        <label for="">Email:</label>
        <input type="email" class="form-signup__input">
    </div>
    <div class="form-signup__field">
      <label for="">Senha:</label>
      <input type="password" class="form-signup__input">
    </div>
    <div class="form-signup__field--buton">
      <button class="form-signup__button">Cadastrar</button>
    </div>
  </form>
</div>
